@page
@model SettingsIndexModel
@{
    Layout = "LayoutLogged";
    ViewData["Description"] = "- Settings";
    ViewData["Login"] = @Model.user.login;
    ViewData["FenXs-Stars"] = @Model.user.fenXs_Stars;
}

@if (@Model.user.admin)
{
    <div class="row m-2">
        <a href="/AdminPanel/" class="btn btn-primary border border-dark">Admin Panel</a>
    </div>
}
@if (Model.dangerBox)
{
    <div class="alert alert-dismissible mx-2 bg-danger border border-2 border-dark shadow-lg" role="alert">
        <span asp-validation-for="ce.oldEmail" class="d-block"></span>
        <span asp-validation-for="ce.newEmail" class="d-block"></span>
        <span asp-validation-for="ce.r_newEmail" class="d-block"></span>
        <span class="d-block">@Model.info</span>
        <button type="button" class="btn-close position-absolute top-50 translate-middle-y" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
}
@if (Model.warningBox)
{
    <div class="alert alert-dismissible mx-2 bg-warning border border-2 border-dark shadow-lg" role="alert">
        <span class="d-block">@Model.info</span>
        <button type="button" class="btn-close position-absolute top-50 translate-middle-y" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
}
@if (Model.successBox)
{
    <div class="alert alert-dismissible mx-2 bg-success border border-2 border-dark shadow-lg" role="alert">
        <span class="d-block">@Model.info</span>
        <button type="button" class="btn-close position-absolute top-50 translate-middle-y" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
}
<div class="row justify-content-center FenXs-Font-Forms text-dark m-2 mt-3">
    <div class="col-12 col-md FenXs-Wooden me-2 border border-2 border-dark rounded shadow-sm">
        <div class="text-center h4 mt-1">
            Change E-mail
        </div>
        <div>
            Your E-mail: <span class="FenXs-Text-NoShadow">@Model.user.email</span>
        </div>
        <form method="post" asp-page-handler="ChangeEmail">
            <div class="form-group my-2">
                <input type="email" asp-for="ce.oldEmail" class="form-control form-control-sm border border-dark"
                    placeholder="Your Old E-mail">
            </div>
            <div class="form-group my-2">
                <input type="email" asp-for="ce.newEmail" class="form-control form-control-sm border border-dark"
                    placeholder="Your New E-mail">
            </div>
            <div class="form-group my-2">
                <input type="email" asp-for="ce.r_newEmail" class="form-control form-control-sm border border-dark"
                    placeholder="Repeat New E-mail">
            </div>
            <div class="form-group my-2">
                <button type="submit" class="btn btn-success w-100 border border-dark">Change!</button>
            </div>
        </form>
    </div>
    <div class="col-12 col-md FenXs-Wooden ms-2 border border-2 border-dark rounded shadow-sm">
        <div class="text-center h4 mt-1">
            Change Password
        </div>
        <form method="post">

        </form>
    </div>
</div>
<div class="row m-2 mt-3 text-light">
    <div class="col FenXs-Wooden border border-dark rounded">

    </div>
</div>