@page
@model BmiModel
@{
    ViewData["Title"] = "Twoje Bmi";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        Witaj <span class="text-danger"><b>@Model.p.name</b>!</span><br />
        @if (Model.p.age != null)
        {
            <span>Twój wiek to: <b>@Model.p.age</b>.</span><br />
        }
        Twój wzrost to: <b>@Model.p.height
        @if(Model.p.heightInCm) { <span>cm</span> }
        else { <span>m</span> }
        </b><br />
        Twoja waga to: <b>@Model.p.weight</b>. <br />
        @if (Model.p.email != null)
        {
            <span>Twój adres e-mail: <b>@Model.p.email</b>.</span><br />
        }
        Twoja płeć to: <b>@Model.p.sex</b>. <br />
    </div>
    <div class="col-md-4">
        Twój wynik BMI: <br/>
        <span class="h1"><b>
            @if(@Model.bmi>=18.5&&@Model.bmi<=24.99) 
            {
                <span class="text-success">@Model.bmi</span>
            }
            else 
            {
                <span class="text-danger">@Model.bmi</span>
            }
        </b></span>
    </div>
    <div class="col-md-2"></div>
</div>